/target
.DS_Store
*.swp
*.~undo-tree~
drive/config.txt
drive/activity_log.txt
drive/backup/
drive/bbs/
drive/cdata/
drive/log.txt
drive/sdl_controllers.txt
drive/exe
drive/screenshots
drive/carts/screenshots
in_pipe
out_pipe
build
build.zip
